@import "../../../../assets/styles/main";
@import "../../../../assets/styles/breakpoints";

.gallerySwiper {
  width: 85%;
  height: auto;
  margin: 0 auto;

  @include media('<tablet'){
    width: 95%;
  }

  .swiper-container {
    width: 100% !important;
    height: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}

.galleryThumbSwiper {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;

  @include media('<tablet'){
    padding: 1rem 0;
  }

  .swiper-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .thumbSlide {
      width: 200px !important;
      display: flex;
      justify-content: center;

      @include media('<tablet'){
        width: 120px !important;
        align-items:center;
        justify-content: space-around;
      }


      button {
        width: 80%;
        background-color: #454545;
        box-shadow: 0 5px 8px #707070;

        @include media('<tablet'){
          font-size: 8px;
          width: 100%;
          margin: 0.5rem;
        }
      }
    }
  }
}

.villaInside {

  margin: 0.5rem 0.5rem 1rem 0.5rem;
  .swiper-wrapper{

    .imageCase {
      box-shadow: 0 5px 8px #707070 !important;
    }

  }
}


