@import "../../../../assets/styles/breakpoints";
@import "../../../../assets/styles/main";

.nature {
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;

  @include media ('>minidesktop') {
    padding: 0 1rem;
    flex-wrap: nowrap;

  }

  .natureText {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;

    @include media('>=minidesktop') {
      width: 60%;
    }
    @include media('>desktop') {
      width: 50%;
    }

    h2 {
      text-align: center;
      font-family: $primary;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      padding: 0rem;
      line-height: 3rem;

      @include media('>tablet') {
        font-size: 4rem;
        margin-bottom: 2rem;
        padding: 0 4rem;
        line-height: 4rem;
      }


    }

    p {
      color: $text;
      text-align: center;
      font-size: 0.9rem;
      width: 95%;
      margin: 0 auto;
      padding: 0;

      @include media('>minidesktop') {
        width: 80%;
        padding: 0 4rem;
      }
    }

    button {
      width: 50%;
      margin: 1.5rem auto;
      background-color: black;
      color: white;
      font-size: 12px;
      padding: 0.3rem;
      border-radius: 8px;

      @include media('>tablet') {
        width: 30%;
      }

    }
  }

  .natureImage {
    width: 50%;
    margin: 0 auto;
    padding: 3rem;

    @include media('<tablet'){
      width: 100%;
      min-height: 320px;
      padding: 0;
    }

    .imgWrap {
      img {
        width: 100%;

        @include media('<tablet'){
          height: 320px;
        }
      }
    }

  }
}